@import "variable";
@import "login";
@import "loading";
@import "fonts";

.theme--dark {
  &.v-application,
  .v-picker__body {
    background: #3A3F5C;
  }

  &.v-sheet,
  &.v-app-bar.v-toolbar.v-sheet,
  &.v-data-table,
  &.v-card,
  &.v-stepper,
  &.v-tabs-items,
  &.v-tabs > .v-tabs-bar {
    background: $blueviolet;
  }
}

.action-btn-wrap {
  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}

.important-text {
  color: #192A3E;
  font-weight: 500;
}

.logo-img {
  img {
    width: 80px;
    height: auto;
  }
}

.theme--light .title {
  font-weight: 500;
  color: #192A3E
}

.font-weight-medium {
  font-weight: 500;
}

.dark-text {
  color: #000
}


.theme--dark {
  .menu-drawer-activator {
    transition: 0.25s ease;

    svg {
      fill: #fff
    }
  }
}

.theme--light {
  .menu-drawer-activator {
    svg {
      fill: $secondary
    }
  }
}


.pos-r {
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background: #E5E5E5;
  font-family: $font-family, sans-serif !important;
  font-weight: 500;
}

.theme--light.v-application {
  background: #E5E5E5;
}

#app.v-application .subtitle-2 {
  font-size: 12px !important;
}

.v-application {
  .text-caption,
  .subtitle-2,
  .subtitle-1 {
    font-family: $font-family, sans-serif !important;
    font-weight: 500 !important;
  }
}


.cabinet {
  &-sidebar {
    border-left: none;
    box-shadow: 6px 0 18px rgba(0, 0, 0, 0.06);

    .v-navigation-drawer__border {
      display: none;
    }
  }
}

.navigation-list {
  padding-left: 15px;
  padding-right: 15px;
  color: $secondary;

  .v-icon {
  }

  &-item {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 48px;
    padding-left: 25px;
    padding-right: 5px;

    &.active {
      color: #fff;
      background: $primary;
      border-radius: $border-radius
    }
  }
}

.v-application {
  .v-card {
    box-shadow: $default-shadow;

    &.v-sheet {
      border-radius: $border-radius;
    }
  }
}


.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  background: #D3D8DD;
}
.theme--light.v-input input::placeholder, .theme--light.v-input textarea::placeholder {
  color: #738699;
  font-weight: 400;
}

.v-text-field fieldset,  .v-text-field .v-input__slot {
  border-radius: $border-radius;
  border: 1px solid $border-color
}


// buttons
.v-btn {
  min-width: auto;
  border-radius: $border-radius;
  text-transform: capitalize;
}

.action-btn {
  width: 30px !important;
  height: 30px !important;
  min-width: auto !important;

  & + & {
    margin-left: 10px;
  }
}


// table
.v-data-table {
  border-radius: $border-radius;

  .v-data-table__wrapper > table > tbody > tr > th {
    height: 45px;
  }

  &.v-data-table--dense .v-data-table__wrapper > table > tbody > tr > td {
    height: 38px
  }

  &:not(.v-data-table--dense) .v-data-table__wrapper > table > tbody > tr > td {
    height: 48px
  }


  &.theme--light > .v-data-table__wrapper > table > tbody > tr:hover {
    background: #F5F8FA;
  }


  .v-data-table__wrapper {
    table > tbody > tr > th:not(.v-data-table__mobile-row),
    table > tbody > tr:not(:last-child) > td:not(.v-data-table__mobile-row),
    table > tbody > tr:not(:last-child) > th:not(.v-data-table__mobile-row) {
      border-bottom: 1px solid #DDE8ED !important;
    }

    tr td, tr th {
      height: 35px;

      &:not(:first-child):not(.v-data-table__mobile-row) {
        border-left: 1px solid #DDE8ED !important;
      }
    }
  }

}

.circle-radius {
  border-radius: 50%;
}


.v-icon.v-icon {
  font-size: 15px;
}

.v-stepper__step__step .v-icon.v-icon {
  font-size: 12px;
}

.rounded {
  border-radius: 10px !important;
}

.form-dialog-modal {
  [class*=col] {
    padding-top: 0;
    padding-bottom: 0;
  }
}


.v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: $default-shadow;
}

.list-data-item {
  display: flex;
  flex-wrap: wrap;

  .v-list-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.no-arrow {
  .v-pagination__navigation {
    display: none;
  }
}

.theme--light.v-pagination .v-pagination__item {
  background: transparent;
  box-shadow: none;
  color: $primary
}

.theme--light.v-pagination .v-pagination__item--active {
  color: #fff
}

.no-shadow {
  box-shadow: none;
}

.notify-block {
  position: relative;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  padding-left: 20px;
  padding-right: 20px;

  &-dot {
    top: 0;
    left: 50%;
    font-size: 10px;
    background: $error;
    width: 15px;
    height: 15px;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
  }
}